.score{
  background-color: #bababa;
  text-decoration-color: white;
  border-radius: 5px;
  border: 2px black solid;
  width: 100px;
  height: 40px;
  font-size: larger;
}

.btn__style{
  background-color: lawngreen;
  border-radius: 5px;
  height: 40px;
  width: 40px;
}
