input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.inputfield input {
  width: 150px;
  height: 40px;
}

.inputfield button {
  height: 40px;
  width: 40px;
}
